@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Exo 2';
    src: url('../fonts/Exo_2/Exo2-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Nanum Gothic Coding';
    src: url('../fonts/Nanum_Gothic_Coding/NanumGothicCoding-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Shrinkhand';
    src: url('../fonts/Shrinkhand/Shrinkhand-Regular.ttf') format('truetype');
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideLeft {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes slideRight {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(5px);
    }
    50% {
        transform: translateX(-5px);
    }
    75% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes flicker {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes flip {
    0% {
        transform: scaleX(1);
    }
    50% {
        transform: scaleX(-1);
    }
    100% {
        transform: scaleX(1);
    }
}

@keyframes moveLine {
    0% {
      transform: translateY(0) rotate(0deg);
    }
    25% {
      transform: translateY(-100vh) rotate(90deg);
    }
    50% {
      transform: translateY(-200vh) rotate(180deg);
    }
    75% {
      transform: translateY(-300vh) rotate(270deg);
    }
    100% {
      transform: translateY(-400vh) rotate(360deg);
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

:root {

    /* FONT FAMILIES */
    --font-open-sans: 'Open Sans', sans-serif;
    --font-exo-2: 'Exo 2', sans-serif;
    --font-nanum-gothic-coding: 'Nanum Gothic Coding', monospace;
    --font-shrinkhand: 'Shrinkhand', cursive;

    /* COLORS */
    --color-black: #000000;
    --color-white: #ffffff;
    --color-red: #ff0000;
    --color-green: #00ff00;
    --color-blue: #0000ff;
    --color-yellow: #ffff00;
    --color-orange: #ffa500;
    --color-purple: #800080;
    --color-pink: #ffc0cb;
    --color-brown: #a52a2a;
    --color-gray: #808080;
    --color-light-gray: #d3d3d3;
    --color-dark-gray: #808080;
    --color-theme-light: #ccdede;
    --color-theme-dark: #17282d;

    /* BACKGROUND COLORS */
    --bg-color-black: #000000;
    --bg-color-white: #ffffff;
    --bg-color-red: #ff0000;
    --bg-color-green: #00ff00;
    --bg-color-blue: #0000ff;
    --bg-color-yellow: #ffff00;
    --bg-color-orange: #ffa500;
    --bg-color-purple: #800080;
    --bg-color-pink: #ffc0cb;
    --bg-color-brown: #a52a2a;
    --bg-color-gray: #808080;
    --bg-color-light-gray: #d3d3d3;
    --bg-color-dark-gray: #808080;
    --bg-color-transparent: transparent;
    --bg-color-theme-light: #ccdede;
    --bg-color-theme-dark: #17282d;

    /* TEXT COLORS */
    --text-color-black: #000000;
    --text-color-white: #ffffff;
    --text-color-red: #ff0000;
    --text-color-green: #00ff00;
    --text-color-blue: #0000ff;
    --text-color-yellow: #ffff00;
    --text-color-orange: #ffa500;
    --text-color-purple: #800080;
    --text-color-pink: #ffc0cb;
    --text-color-brown: #a52a2a;
    --text-color-gray: #808080;
    --text-color-light-gray: #d3d3d3;
    --text-color-dark-gray: #808080;

    /* BORDER COLORS */
    --border-color-black: #000000;
    --border-color-white: #ffffff;
    --border-color-red: #ff0000;
    --border-color-green: #00ff00;
    --border-color-blue: #0000ff;
    --border-color-yellow: #ffff00;
    --border-color-orange: #ffa500;
    --border-color-purple: #800080;
    --border-color-pink: #ffc0cb;
    --border-color-brown: #a52a2a;
    --border-color-gray: #808080;
    --border-color-light-gray: #d3d3d3;
    --border-color-dark-gray: #808080;

    /* SHADOW COLORS */
    --shadow-color-black: #000000;
    --shadow-color-white: #ffffff;
    --shadow-color-red: #ff0000;
    --shadow-color-green: #00ff00;
    --shadow-color-blue: #0000ff;
    --shadow-color-yellow: #ffff00;
    --shadow-color-orange: #ffa500;
    --shadow-color-purple: #800080;
    --shadow-color-pink: #ffc0cb;
    --shadow-color-brown: #a52a2a;
    --shadow-color-gray: #808080;
    --shadow-color-light-gray: #d3d3d3;
    --shadow-color-dark-gray: #808080;

    /* FONTS */
    --font-size-xxs: 12px;
    --font-size-xs: 14px;
    --font-size-s: 16px;
    --font-size-m: 18px;
    --font-size-l: 20px;
    --font-size-xl: 24px;
    --font-size-2xl: 32px;
    --font-size-3xl: 48px;
    --font-size-4xl: 64px;
    --font-size-5xl: 96px;
    --font-size-6xl: 128px;

    /* FONT WEIGHTS */
    --font-weight-thin: 200;
    --font-weight-light: 350;
    --font-weight-regular: 450;
    --font-weight-medium: 550;
    --font-weight-bold: 700;
    --font-weight-bolder: 900;

    /* LETTER SPACING */
    --letter-spacing-xxs: 0.5px;
    --letter-spacing-xs: 1px;
    --letter-spacing-s: 1.5px;
    --letter-spacing-m: 2px;
    --letter-spacing-l: 2.5px;
    --letter-spacing-xl: 3px;
    --letter-spacing-2xl: 3.5px;
    --letter-spacing-3xl: 4px;
    --letter-spacing-4xl: 4.5px;
    --letter-spacing-5xl: 5px;
    --letter-spacing-6xl: 5.5px;

    /* LINE HEIGHTS */
    --line-height-xxs: 12px;
    --line-height-xs: 14px;
    --line-height-s: 16px;
    --line-height-m: 18px;
    --line-height-l: 20px;
    --line-height-xl: 24px;
    --line-height-2xl: 32px;
    --line-height-3xl: 48px;
    --line-height-4xl: 64px;
    --line-height-5xl: 96px;
    --line-height-6xl: 128px;

    /* SPACING */
    --space-xxs: 2px;
    --space-xs: 4px;
    --space-s: 8px;
    --space-m: 16px;
    --space-l: 24px;
    --space-xl: 32px;
    --space-2xl: 48px;
    --space-3xl: 64px;
    --space-4xl: 96px;
    --space-5xl: 128px;
    --space-6xl: 192px;

    /* BORDERS */
    --border-radius-xxs: 2px;
    --border-radius-xs: 4px;
    --border-radius-s: 8px;
    --border-radius-m: 16px;
    --border-radius-l: 24px;
    --border-radius-xl: 32px;
    --border-radius-2xl: 48px;
    --border-radius-3xl: 64px;
    --border-radius-4xl: 96px;
    --border-radius-5xl: 128px;
    --border-radius-6xl: 256px;

    /* SHADOWS */
    --shadow-none: none;
    --shadow-xxs: 0 0 2px 0 rgba(0, 0, 0, 0.2);
    --shadow-xs: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    --shadow-s: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    --shadow-m: 0 0 16px 0 rgba(0, 0, 0, 0.2);
    --shadow-l: 0 0 24px 0 rgba(0, 0, 0, 0.2);
    --shadow-xl: 0 0 32px 0 rgba(0, 0, 0, 0.2);
    --shadow-2xl: 0 0 48px 0 rgba(0, 0, 0, 0.2);
    --shadow-3xl: 0 0 64px 0 rgba(0, 0, 0, 0.2);
    --shadow-4xl: 0 0 96px 0 rgba(0, 0, 0, 0.2);
    --shadow-5xl: 0 0 128px 0 rgba(0, 0, 0, 0.2);

    /* BREAKPOINTS */
    --breakpoint-xs: 320px;
    --breakpoint-s: 480px;
    --breakpoint-m: 768px;
    --breakpoint-l: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1440px;
    --breakpoint-3xl: 1600px;
    --breakpoint-4xl: 1920px;
    --breakpoint-5xl: 2560px;

    /* Z-INDEXES */
    --z-index-0: 0;
    --z-index-1: 1;
    --z-index-2: 2;
    --z-index-3: 3;
    --z-index-4: 4;
    --z-index-5: 5;
    --z-index-6: 6;
    --z-index-7: 7;
    --z-index-8: 8;
    --z-index-9: 9;
    --z-index-10: 10;
    --z-index-11: 11;
    --z-index-12: 12;
    --z-index-13: 13;
    --z-index-14: 14;
    --z-index-15: 15;
    --z-index-16: 16;
    --z-index-17: 17;
    --z-index-18: 18;
    --z-index-19: 19;
    --z-index-20: 20;

    /* OPACITY */
    --opacity-0: 0;
    --opacity-01: 0.1;
    --opacity-02: 0.2;
    --opacity-03: 0.3;
    --opacity-04: 0.4;
    --opacity-05: 0.5;
    --opacity-06: 0.6;
    --opacity-07: 0.7;
    --opacity-08: 0.8;
    --opacity-09: 0.9;
    --opacity-10: 1;
    --opacity-15: 1.5;
    --opacity-20: 2;
    --opacity-25: 2.5;
    --opacity-30: 3;
    --opacity-35: 3.5;
    --opacity-40: 4;
    --opacity-45: 4.5;
    --opacity-50: 5;
    --opacity-55: 5.5;
    --opacity-60: 6;
    --opacity-65: 6.5;
    --opacity-70: 7;
    --opacity-75: 7.5;
    --opacity-80: 8;
    --opacity-85: 8.5;
    --opacity-90: 9;
    --opacity-95: 9.5;
    --opacity-100: 10;

    /* MARGINS */
    --margin-0: 0;
    --margin-1: 0.25rem;
    --margin-2: 0.5rem;
    --margin-3: 0.75rem;
    --margin-4: 1rem;
    --margin-5: 1.25rem;
    --margin-6: 1.5rem;
    --margin-7: 1.75rem;
    --margin-8: 2rem;
    --margin-9: 2.25rem;
    --margin-10: 2.5rem;
    --margin-11: 2.75rem;
    --margin-12: 3rem;
    --margin-13: 3.25rem;
    --margin-14: 3.5rem;
    --margin-15: 3.75rem;
    --margin-16: 4rem;
    --margin-17: 4.25rem;
    --margin-18: 4.5rem;
    --margin-19: 4.75rem;
    --margin-20: 5rem;

    /* PADDINGS */
    --padding-0: 0;
    --padding-1: 0.25rem;
    --padding-2: 0.5rem;
    --padding-3: 0.75rem;
    --padding-4: 1rem;
    --padding-5: 1.25rem;
    --padding-6: 1.5rem;
    --padding-7: 1.75rem;
    --padding-8: 2rem;
    --padding-9: 2.25rem;
    --padding-10: 2.5rem;
    --padding-11: 2.75rem;
    --padding-12: 3rem;
    --padding-13: 3.25rem;
    --padding-14: 3.5rem;
    --padding-15: 3.75rem;
    --padding-16: 4rem;
    --padding-17: 4.25rem;
    --padding-18: 4.5rem;
    --padding-19: 4.75rem;
    --padding-20: 5rem;

    /* WIDTH IN % */
    --width-5: 5%;
    --width-6: 6%;
    --width-7: 7%;
    --width-8: 8%;
    --width-9: 9%;
    --width-10: 10%;
    --width-15: 15%;
    --width-20: 20%;
    --width-25: 25%;
    --width-30: 30%;
    --width-35: 35%;
    --width-40: 40%;
    --width-45: 45%;
    --width-50: 50%;
    --width-55: 55%;
    --width-60: 60%;
    --width-65: 65%;
    --width-70: 70%;
    --width-75: 75%;
    --width-80: 80%;
    --width-85: 85%;
    --width-90: 90%;
    --width-95: 95%;
    --width-100: 100%;

    /* WIDTH IN VW */
    --width-5-vw: 5vw;
    --width-6-vw: 6vw;
    --width-7-vw: 7vw;
    --width-8-vw: 8vw;
    --width-9-vw: 9vw;
    --width-10-vw: 10vw;
    --width-15-vw: 15vw;
    --width-20-vw: 20vw;
    --width-25-vw: 25vw;
    --width-30-vw: 30vw;
    --width-35-vw: 35vw;
    --width-40-vw: 40vw;
    --width-45-vw: 45vw;
    --width-50-vw: 50vw;
    --width-55-vw: 55vw;
    --width-60-vw: 60vw;
    --width-65-vw: 65vw;
    --width-70-vw: 70vw;
    --width-75-vw: 75vw;
    --width-80-vw: 80vw; 
    --width-85-vw: 85vw;   
    --width-90-vw: 90vw;
    --width-95-vw: 95vw;
    --width-100-vw: 100vw;

    /* WIDTH IN PX */
    --width-5-px: 5px;
    --width-6-px: 6px;
    --width-7-px: 7px;
    --width-8-px: 8px;
    --width-9-px: 9px;
    --width-10-px: 10px;
    --width-15-px: 15px;
    --width-20-px: 20px;
    --width-25-px: 25px;
    --width-30-px: 30px;
    --width-35-px: 35px;
    --width-40-px: 40px;
    --width-45-px: 45px;
    --width-50-px: 50px;
    --width-55-px: 55px;
    --width-60-px: 60px;
    --width-65-px: 65px;
    --width-70-px: 70px;
    --width-75-px: 75px;
    --width-80-px: 80px;
    --width-85-px: 85px;
    --width-90-px: 90px;
    --width-95-px: 95px;
    --width-100-px: 100px;
    
    /* WIDTH AUTO */
    --width-auto: auto;

    /* HEIGHT IN % */
    --height-5: 5%;
    --height-6: 6%;
    --height-7: 7%;
    --height-8: 8%;
    --height-9: 9%;
    --height-10: 10%;
    --height-15: 15%;
    --height-20: 20%;
    --height-25: 25%;
    --height-30: 30%;
    --height-35: 35%;
    --height-40: 40%;
    --height-45: 45%;
    --height-50: 50%;
    --height-55: 55%;
    --height-60: 60%;
    --height-65: 65%;
    --height-70: 70%;
    --height-75: 75%;
    --height-80: 80%;
    --height-85: 85%;
    --height-90: 90%;
    --height-95: 95%;
    --height-100: 100%;

    /* HEIGHT IN VH */
    --height-5-vh: 5vh;
    --height-6-vh: 6vh;
    --height-7-vh: 7vh;
    --height-8-vh: 8vh;
    --height-9-vh: 9vh;
    --height-10-vh: 10vh;
    --height-15-vh: 15vh;
    --height-20-vh: 20vh;
    --height-25-vh: 25vh;
    --height-30-vh: 30vh;
    --height-35-vh: 35vh;
    --height-40-vh: 40vh;
    --height-45-vh: 45vh;
    --height-50-vh: 50vh;
    --height-55-vh: 55vh;
    --height-60-vh: 60vh;
    --height-65-vh: 65vh;
    --height-70-vh: 70vh;
    --height-75-vh: 75vh;
    --height-80-vh: 80vh;
    --height-85-vh: 85vh;
    --height-90-vh: 90vh;
    --height-95-vh: 95vh;
    --height-100-vh: 100vh; 

    /* HEIGHT IN PX */
    --height-05-px: 0.5px;
    --height-1-px: 1px;
    --height-2-px: 2px;
    --height-3-px: 3px;
    --height-4-px: 4px;
    --height-5-px: 5px;
    --height-6-px: 6px;
    --height-7-px: 7px;
    --height-8-px: 8px;
    --height-9-px: 9px;
    --height-10-px: 10px;
    --height-15-px: 15px;
    --height-20-px: 20px;
    --height-25-px: 25px;
    --height-30-px: 30px;
    --height-35-px: 35px;
    --height-40-px: 40px;
    --height-45-px: 45px;
    --height-50-px: 50px;
    --height-55-px: 55px;
    --height-60-px: 60px;
    --height-65-px: 65px;
    --height-70-px: 70px;
    --height-75-px: 75px;
    --height-80-px: 80px;
    --height-85-px: 85px;
    --height-90-px: 90px;
    --height-95-px: 95px;
    --height-100-px: 100px;

    /* HEIGHT AUTO */
    --height-auto: auto;

    /* ABSOLUTE POSITIONING */

    /* TOP */
    --top-0: 0;
    --top-1: 1%;
    --top-2: 2%;
    --top-3: 3%;
    --top-4: 4%;
    --top-5: 5%;
    --top-6: 6%;
    --top-7: 7%;
    --top-8: 8%;
    --top-9: 9%;
    --top-10: 10%;
    --top-11: 11%;
    --top-12: 12%;
    --top-13: 13%;
    --top-14: 14%;
    --top-15: 15%;
    --top-16: 16%;
    --top-17: 17%;
    --top-18: 18%;
    --top-19: 19%;
    --top-20: 20%;
    --top-21: 21%;
    --top-22: 22%;
    --top-23: 23%;
    --top-24: 24%;
    --top-25: 25%;
    --top-26: 26%;
    --top-27: 27%;
    --top-28: 28%;
    --top-29: 29%;
    --top-30: 30%;
    --top-31: 31%;
    --top-32: 32%;
    --top-33: 33%;
    --top-34: 34%;
    --top-35: 35%;
    --top-36: 36%;
    --top-37: 37%;
    --top-38: 38%;
    --top-39: 39%;
    --top-40: 40%;
    --top-41: 41%;
    --top-42: 42%;
    --top-43: 43%;
    --top-44: 44%;
    --top-45: 45%;
    --top-46: 46%;
    --top-47: 47%;
    --top-48: 48%;
    --top-49: 49%;
    --top-50: 50%;
    --top-51: 51%;
    --top-52: 52%;
    --top-53: 53%;
    --top-54: 54%;
    --top-55: 55%;
    --top-56: 56%;
    --top-57: 57%;
    --top-58: 58%;
    --top-59: 59%;
    --top-60: 60%;
    --top-61: 61%;
    --top-62: 62%;
    --top-63: 63%;
    --top-64: 64%;
    --top-65: 65%;
    --top-66: 66%;
    --top-67: 67%;
    --top-68: 68%;
    --top-69: 69%;
    --top-70: 70%;
    --top-71: 71%;
    --top-72: 72%;
    --top-73: 73%;
    --top-74: 74%;
    --top-75: 75%;
    --top-76: 76%;
    --top-77: 77%;
    --top-78: 78%;
    --top-79: 79%;
    --top-80: 80%;
    --top-81: 81%;
    --top-82: 82%;
    --top-83: 83%;
    --top-84: 84%;
    --top-85: 85%;
    --top-86: 86%;
    --top-87: 87%;
    --top-88: 88%;
    --top-89: 89%;
    --top-90: 90%;
    --top-91: 91%;
    --top-92: 92%;
    --top-93: 93%;
    --top-94: 94%;
    --top-95: 95%;
    --top-96: 96%;
    --top-97: 97%;
    --top-98: 98%;
    --top-99: 99%;
    --top-100: 100%;

    /* LEFT */
    --left-0: 0;
    --left-1: 1%;
    --left-2: 2%;
    --left-3: 3%;
    --left-4: 4%;
    --left-5: 5%;
    --left-6: 6%;
    --left-7: 7%;
    --left-8: 8%;
    --left-9: 9%;
    --left-10: 10%;
    --left-11: 11%;
    --left-12: 12%;
    --left-13: 13%;
    --left-14: 14%;
    --left-15: 15%;
    --left-16: 16%;
    --left-17: 17%;
    --left-18: 18%;
    --left-19: 19%;
    --left-20: 20%;
    --left-21: 21%;
    --left-22: 22%;
    --left-23: 23%;
    --left-24: 24%;
    --left-25: 25%;
    --left-26: 26%;
    --left-27: 27%;
    --left-28: 28%;
    --left-29: 29%;
    --left-30: 30%;
    --left-31: 31%;
    --left-32: 32%;
    --left-33: 33%;
    --left-34: 34%;
    --left-35: 35%;
    --left-36: 36%;
    --left-37: 37%;
    --left-38: 38%;
    --left-39: 39%;
    --left-40: 40%;
    --left-41: 41%;
    --left-42: 42%;
    --left-43: 43%;
    --left-44: 44%;
    --left-45: 45%;
    --left-46: 46%;
    --left-47: 47%;
    --left-48: 48%;
    --left-49: 49%;
    --left-50: 50%;
    --left-51: 51%;
    --left-52: 52%;
    --left-53: 53%;
    --left-54: 54%;
    --left-55: 55%;
    --left-56: 56%;
    --left-57: 57%;
    --left-58: 58%;
    --left-59: 59%;
    --left-60: 60%;
    --left-61: 61%;
    --left-62: 62%;
    --left-63: 63%;
    --left-64: 64%;
    --left-65: 65%;
    --left-66: 66%;
    --left-67: 67%;
    --left-68: 68%;
    --left-69: 69%;
    --left-70: 70%;
    --left-71: 71%;
    --left-72: 72%;
    --left-73: 73%;
    --left-74: 74%;
    --left-75: 75%;
    --left-76: 76%;
    --left-77: 77%;
    --left-78: 78%;
    --left-79: 79%;
    --left-80: 80%;
    --left-81: 81%;
    --left-82: 82%;
    --left-83: 83%;
    --left-84: 84%;
    --left-85: 85%;
    --left-86: 86%;
    --left-87: 87%;
    --left-88: 88%;
    --left-89: 89%;
    --left-90: 90%;
    --left-91: 91%;
    --left-92: 92%;
    --left-93: 93%;
    --left-94: 94%;
    --left-95: 95%;
    --left-96: 96%;
    --left-97: 97%;
    --left-98: 98%;
    --left-99: 99%;
    --left-100: 100%;

    /* RIGHT */
    --right-0: 0%;
    --right-1: 1%;
    --right-2: 2%;
    --right-3: 3%;
    --right-4: 4%;
    --right-5: 5%;
    --right-6: 6%;
    --right-7: 7%;
    --right-8: 8%;
    --right-9: 9%;
    --right-10: 10%;
    --right-11: 11%;
    --right-12: 12%;
    --right-13: 13%;
    --right-14: 14%;
    --right-15: 15%;
    --right-16: 16%;
    --right-17: 17%;
    --right-18: 18%;
    --right-19: 19%;
    --right-20: 20%;
    --right-21: 21%;
    --right-22: 22%;
    --right-23: 23%;
    --right-24: 24%;
    --right-25: 25%;
    --right-26: 26%;
    --right-27: 27%;
    --right-28: 28%;
    --right-29: 29%;
    --right-30: 30%;
    --right-31: 31%;
    --right-32: 32%;
    --right-33: 33%;
    --right-34: 34%;
    --right-35: 35%;
    --right-36: 36%;
    --right-37: 37%;
    --right-38: 38%;
    --right-39: 39%;
    --right-40: 40%;
    --right-41: 41%;
    --right-42: 42%;
    --right-43: 43%;
    --right-44: 44%;
    --right-45: 45%;
    --right-46: 46%;
    --right-47: 47%;
    --right-48: 48%;
    --right-49: 49%;
    --right-50: 50%;
    --right-51: 51%;
    --right-52: 52%;
    --right-53: 53%;
    --right-54: 54%;
    --right-55: 55%;
    --right-56: 56%;
    --right-57: 57%;
    --right-58: 58%;
    --right-59: 59%;
    --right-60: 60%;
    --right-61: 61%;
    --right-62: 62%;
    --right-63: 63%;
    --right-64: 64%;
    --right-65: 65%;
    --right-66: 66%;
    --right-67: 67%;
    --right-68: 68%;
    --right-69: 69%;
    --right-70: 70%;
    --right-71: 71%;
    --right-72: 72%;
    --right-73: 73%;
    --right-74: 74%;
    --right-75: 75%;
    --right-76: 76%;
    --right-77: 77%;
    --right-78: 78%;
    --right-79: 79%;
    --right-80: 80%;
    --right-81: 81%;
    --right-82: 82%;
    --right-83: 83%;
    --right-84: 84%;
    --right-85: 85%;
    --right-86: 86%;
    --right-87: 87%;
    --right-88: 88%;
    --right-89: 89%;
    --right-90: 90%;
    --right-91: 91%;
    --right-92: 92%;
    --right-93: 93%;
    --right-94: 94%;
    --right-95: 95%;
    --right-96: 96%;
    --right-97: 97%;
    --right-98: 98%;
    --right-99: 99%;
    --right-100: 100%;

    /* BOTTOM */
    --bottom-0: 0%;
    --bottom-1: 1%;
    --bottom-2: 2%;
    --bottom-3: 3%;
    --bottom-4: 4%;
    --bottom-5: 5%;
    --bottom-6: 6%;
    --bottom-7: 7%;
    --bottom-8: 8%;
    --bottom-9: 9%;
    --bottom-10: 10%;
    --bottom-11: 11%;
    --bottom-12: 12%;
    --bottom-13: 13%;
    --bottom-14: 14%;
    --bottom-15: 15%;
    --bottom-16: 16%;
    --bottom-17: 17%;
    --bottom-18: 18%;
    --bottom-19: 19%;
    --bottom-20: 20%;
    --bottom-21: 21%;
    --bottom-22: 22%;
    --bottom-23: 23%;
    --bottom-24: 24%;
    --bottom-25: 25%;
    --bottom-26: 26%;
    --bottom-27: 27%;
    --bottom-28: 28%;
    --bottom-29: 29%;
    --bottom-30: 30%;
    --bottom-31: 31%;
    --bottom-32: 32%;
    --bottom-33: 33%;
    --bottom-34: 34%;
    --bottom-35: 35%;
    --bottom-36: 36%;
    --bottom-37: 37%;
    --bottom-38: 38%;
    --bottom-39: 39%;
    --bottom-40: 40%;
    --bottom-41: 41%;
    --bottom-42: 42%;
    --bottom-43: 43%;
    --bottom-44: 44%;
    --bottom-45: 45%;
    --bottom-46: 46%;
    --bottom-47: 47%;
    --bottom-48: 48%;
    --bottom-49: 49%;
    --bottom-50: 50%;
    --bottom-51: 51%;
    --bottom-52: 52%;
    --bottom-53: 53%;
    --bottom-54: 54%;
    --bottom-55: 55%;
    --bottom-56: 56%;
    --bottom-57: 57%;
    --bottom-58: 58%;
    --bottom-59: 59%;
    --bottom-60: 60%;
    --bottom-61: 61%;
    --bottom-62: 62%;
    --bottom-63: 63%;
    --bottom-64: 64%;
    --bottom-65: 65%;
    --bottom-66: 66%;
    --bottom-67: 67%;
    --bottom-68: 68%;
    --bottom-69: 69%;
    --bottom-70: 70%;
    --bottom-71: 71%;
    --bottom-72: 72%;
    --bottom-73: 73%;
    --bottom-74: 74%;
    --bottom-75: 75%;
    --bottom-76: 76%;
    --bottom-77: 77%;
    --bottom-78: 78%;
    --bottom-79: 79%;
    --bottom-80: 80%;
    --bottom-81: 81%;
    --bottom-82: 82%;
    --bottom-83: 83%;
    --bottom-84: 84%;
    --bottom-85: 85%;
    --bottom-86: 86%;
    --bottom-87: 87%;
    --bottom-88: 88%;
    --bottom-89: 89%;
    --bottom-90: 90%;
    --bottom-91: 91%;
    --bottom-92: 92%;
    --bottom-93: 93%;
    --bottom-94: 94%;
    --bottom-95: 95%;
    --bottom-96: 96%;
    --bottom-97: 97%;
    --bottom-98: 98%;
    --bottom-99: 99%;
    --bottom-100: 100%;


    /* OTHER */
    --transition-1: 0.1s;
    --transition-2: 0.2s;
    --transition-3: 0.3s;
    --transition-4: 0.4s;
    --transition-5: 0.5s;
    --transition-6: 0.6s;

    --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
    --ease-in: cubic-bezier(0.4, 0, 1, 1);
    --ease-out: cubic-bezier(0, 0, 0.2, 1);
}

::-webkit-scrollbar {
    width: 6px;
    background-color: var(--bg-color-transparent);
}

::-webkit-scrollbar-track {
    background-color: var(--bg-color-transparent);
}

::-webkit-scrollbar-thumb {
    background: var(--bg-color-theme-dark);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--bg-color-theme-dark);
}

* {
    margin: var(--margin-0);
    padding: var(--padding-0);
    box-sizing: border-box;
    scroll-behavior: smooth;
    z-index: var(--z-index-1);
}

html {
    margin: var(--margin-0);
    padding: var(--padding-0);
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: var(--color-black);
    /* background: radial-gradient(circle, #f0f5f9, #98a6ad, #596f83); 
    background: linear-gradient(135deg, #FF6B6B, #FFE66D); 
    background: linear-gradient(135deg, #FD7272, #00D2D3); 
    background: linear-gradient(135deg, #FF9770, #FFD670); 
    background: linear-gradient(135deg, #A18CD1, #FBC2EB); 
    background: linear-gradient(135deg, #FFD3E0, #A9DEF9); 
    background: linear-gradient(135deg, #FFF68F, #D9EAD3);
    background: linear-gradient(135deg, #F8B195, #F67280);
    background: linear-gradient(135deg, #A3D8D1, #71A5D6);
    background: linear-gradient(135deg, #C5A3FF, #EDE6FF);
    background: linear-gradient(135deg, #FFC6FF, #FFD1DC);
    background: linear-gradient(135deg, #FDFD96, #D5DBD9);
    background: linear-gradient(135deg, #DFFF00, #86FBFF);
    background: linear-gradient(135deg, #FFB6C1, #FFDAB9);  */
    background: linear-gradient(135deg, #E0F0F0, #bbcecf);  
    min-height: var(--height-100);
    width: var(--width-100);
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    margin: var(--margin-0);
    padding: var(--padding-0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    scroll-behavior: smooth;
    position: relative;
    min-height: var(--height-100);
    width: var(--width-100);
    overflow-x: hidden;
    overflow-y: auto;
}

#app {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: var(--margin-0);
    padding: var(--padding-0);
    box-sizing: border-box;
    scroll-behavior: smooth;
    min-height: var(--height-100-vh);
    width: var(--width-100-vw);
    overflow-y: auto;
    overflow-x: hidden;
    background: linear-gradient(135deg, #E0F0F0, #bbcecf);
    color: var(--color-theme-dark);
}

#app.dark {
    /* background: linear-gradient(135deg, #0a1618, #273e46); */
    background: linear-gradient(135deg, #273e46, #0a1618);
    color: var(--color-theme-light);
}

.page-container {
    width: var(--width-100);
    height: var(--height-100);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
}

.slide-out-left {
    transform: translateX(-100%);
}

.slide-out-right {
    transform: translateX(100%);
}

.theme-link {
    text-decoration: none;
    cursor: pointer;
}

.theme-color-dark {
    color: var(--color-theme-dark);
}

.theme-color-light {
    color: var(--color-theme-light);
}

.theme-bg-dark {
    background-color: var(--bg-color-theme-dark);
}

.theme-bg-light {
    background-color: var(--bg-color-theme-light);
}

.loading-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: var(--height-100-vh);
    width: var(--width-100-vw);
}

.loader {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid transparent;
    border-top-color: var(--bg-color-theme-dark);
    animation: rotate 1s linear infinite;
}

.loader::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 10px solid transparent;
    border-top-color: var(--bg-color-theme-light);
    top: 5px;
    left: 5px;
    animation: rotate 1s linear infinite;
}

.mini-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: var(--height-100);
    width: var(--width-100);
}

.mini-loader .loader {
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: var(--height-100);
    width: var(--width-100);
    font-family: var(--font-nanum-gothic-coding);
    font-size: var(--font-size-xl);
    animation: pulse 0.5s infinite; */

    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid transparent;
    border-top-color: var(--bg-color-theme-dark);
    animation: rotate 1s linear infinite;
    place-self: center;
}

code {
    position: absolute;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--letter-spacing-3xl);
    line-height: var(--line-height-4xl);
    z-index: -1;
    opacity: var(--opacity-02);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: var(--margin-0);
    padding: var(--padding-0);
    font-family: var(--font-exo-2);
}

p {
    margin: var(--margin-0);
    padding: var(--padding-0);
    font-family: var(--font-nanum-gothic-coding);
}

a {
    text-decoration: none;
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: var(--margin-2) var(--margin-0) var(--margin-2) var(--margin-0);
    padding: var(--padding-4);
    box-sizing: border-box;
    width: var(--width-100);
    height: var(--height-auto);
}

footer p {
    font-family: var(--font-exo-2)
}
