main {
    width: var(--width-60);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: var(--margin-0);
    padding: var(--padding-0);
    box-sizing: border-box;
    min-height: var(--height-80-vh);
}