.project-card-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: var(--margin-8) var(--margin-0) var(--margin-0) var(--margin-0);
    padding: var(--padding-0);
    box-sizing: border-box;
    height: var(--height-auto);
    width: var(--width-100);
    gap: 50px;
    margin-top: var(--margin-12);
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: var(--margin-0);
    padding: var(--padding-0) var(--padding-0) var(--padding-4) var(--padding-0);
    box-sizing: border-box;
    height: var(--height-auto);
    width: var(--width-30);
    gap: 10px;
    border-radius: var(--border-radius-xl);
}

.project-card img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: var(--border-radius-xl) var(--border-radius-xl) 0 0;
}

.project-card img:hover {
    cursor: pointer;
}

.project-card h3 {
    font-size: var(--font-size-xl);
    padding: var(--padding-2) var(--padding-3) var(--padding-0) var(--padding-3);
}

.project-card p {
    font-family: var(--font-open-sans);
    font-size: var(--font-size-s);
    padding: var(--padding-2) var(--padding-3) var(--padding-0) var(--padding-3);
}

.project-card p a {
    font-size: var(--font-size-xs);
    text-decoration: none;
    cursor: pointer;
    padding: var(--padding-1) var(--padding-1);
    margin: var(--margin-0) var(--margin-0) var(--margin-0) var(--margin-2);
    border-radius: var(--border-radius-xl);
    background-color: var(--bg-color-theme-light);
    opacity: var(--opacity-08);
    transition: all 0.1s ease-in-out;
}

.project-card p a:hover,
.project-card p a:active,
.project-card p a:focus,
.project-card p a:visited {
    opacity: var(--opacity-10);
}

.project-card .project-card-button-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: var(--margin-0);
    padding: var(--padding-4) var(--padding-0) var(--padding-0) var(--padding-0);
    width: var(--width-100);
}

.project-card .project-card-button-holder .link {
    text-decoration: none;
    cursor: pointer;
    padding: var(--padding-1);
    /* border-radius: var(--border-radius-xl);
    box-shadow: var(--shadow-s); */
    transition: all 0.2s ease-in-out;
    opacity: var(--opacity-07);
}

.project-card .project-card-button-holder .link:hover {
    opacity: var(--opacity-10);
    transform: scale(1.04);
}

@media screen and (max-width: 768px) {
    .project-card-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .project-card {
        align-items: center;
        justify-content: center;
        width: var(--width-90);
    }
}
